* {
    background-color: bisque;
}

h1 {
    font-family: Arial, Geneva, Tahoma, sans-serif;
    outline: 3px groove;
    width: max-content;
    padding: 24px;
}

p,
ul,
ol {
    font-family: Georgia, "Times New Roman", Garamond, serif;
    width: auto;
}

img {
    border: 2px solid purple;
}

.recipe-links {
    display: flex;
    padding: inherit;
    justify-content: space-between;
}

.single-recipe,
.home-img {
    width: 400px;
}

.single-recipe {
    background-color: cadetblue;
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px dashed palegreen;
}

.home-img {
    max-height: 400px;
    height: fit-content;
}