* {
    background-color: bisque;
}

h1 {
    font-family: Arial, Geneva, Tahoma, sans-serif;
    outline: 3px groove;
    width: max-content;
    padding: 24px;
    margin: 8px auto;
}

p,
ul,
ol {
    font-family: Georgia, "Times New Roman", Garamond, serif;
    width: auto;
}

img {
    border: 2px solid purple;
}

.recipe-links {
    display: flex;
    padding: 8px;
    justify-content: space-around;
}

.single-recipe,
.home-img {
    width: 400px;
}

.single-recipe {
    background-color: cadetblue;
    padding: 8px;
    height: 500px;
    display: block;
}

.home-img {
    max-height: 400px;
    height: fit-content;
}

.bottom-link {
    margin-bottom: 1px;
}